html,
body,
.super-text {
    font-family: "Baskerville Old Face", serif;
    font-size: 22px;
}

.view {
    height: 100%;
}

.carousel {
    height: 50%;
}

.carousel .carousel-inner {
    height: 100%;
}

.carousel .carousel-inner .carousel-item,
.carousel .carousel-inner .active {
    height: 100%;
}

@media (max-width: 766px) {
    .carousel {
        height: 100%;
    }
}

.page-footer {
    background-color: #333319;
}

.logo {
    font-family: "Old English Text MT", serif;
    font-size: 40px;
    margin-bottom: 16px;
}

.body {
    background-color: #f2ffff;
}

.dropdown-item-checked::before {
    position: absolute;
    left: .4rem;
    content: '✓';
    font-weight: 600;
}

html,
body,
.super-text {
    font-family: "Baskerville Old Face", serif;
    font-size: 22px;
}

.view {
    height: 100%;
}

.carousel {
    height: 50%;
}

.carousel .carousel-inner {
    height: 100%;
}

.carousel .carousel-inner .carousel-item,
.carousel .carousel-inner .active {
    height: 100%;
}

@media (max-width: 766px) {
    .carousel {
        height: 100%;
    }
}

.page-footer {
    background-color: #333319;
}

.logo {
    font-family: "Old English Text MT", serif;
    font-size: 40px;
    margin-bottom: 16px;
}

.body {
    background-color: #f2ffff;
}

.dropdown-item-checked::before {
    position: absolute;
    left: .4rem;
    content: '✓';
    font-weight: 600;
}

html,
body,
.super-text {
    font-family: "Baskerville Old Face", serif;
    font-size: 22px;
}

.view {
    height: 100%;
}

.carousel {
    height: 50%;
}

.carousel .carousel-inner {
    height: 100%;
}

.carousel .carousel-inner .carousel-item,
.carousel .carousel-inner .active {
    height: 100%;
}

@media (max-width: 766px) {
    .carousel {
        height: 100%;
    }
}

.page-footer {
    background-color: #333319;
}

.logo {
    font-family: "Old English Text MT", serif;
    font-size: 40px;
    margin-bottom: 16px;
}

.body {
    background-color: #f2ffff;
}

.dropdown-item-checked::before {
    position: absolute;
    left: .4rem;
    content: '✓';
    font-weight: 600;
}